@use "colors";

#header {
    width: calc(100% - 15px);
    padding: 15px;
    margin-top: 6vh;
    margin-bottom: 6vh;

    text-align: center;

    p {
        color: colors.$gray;
        font-size: 1.4em;
    }

    h1 {
        font-size: 1.8em;
    }

    #img {
        margin: auto;
        margin-bottom: 2rem;
        border-radius: 50%;
        object-fit: cover;
        mix-blend-mode: multiply;
    }
}

#main {
    width: 100%;
    min-height: 50vh;
    padding: 15px;

    background-color: colors.$lightest;

    h2 {
        text-align: center;
        margin-bottom: 1.2rem
    }

    nav {
        display: flex;
        width: fit-content;
        margin: auto;
        align-items: center;
        justify-content: center;
        gap: 45px;

        border-bottom: 1px solid colors.$dark;

        button {
            border: none;
            background-color: transparent;

            cursor: pointer;
        }
    }

    .cards {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 12px;

        h1 {
            font-size: 1.1em;
            text-align: left;
        }

        p {
            font-size: 1.1em;
            margin: 10px 0px 10px 0px;
            text-align: left;
        }

        div {
            padding: 35px;
            width: 45%;
            min-height: 13rem;

            box-shadow: 0px 0px 2px colors.$dark;
            border-radius: 8px;

            @media screen and (max-width: 1200px) {
                width: 60%;
            }

            @media screen and (max-width: 800px) {
                width: 80%;
            }

            @media screen and (max-width: 650px) {
                width: 95%;
            }
        }
    }

    #page_selector {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;

        button {
            display: block;
            
            background-color: colors.$dark;
            color: colors.$light;

            padding: 5px 8px;
            padding-top: 8px;
            border-radius: 8px;

            cursor: pointer;

            border: none;
        }

        margin-bottom: 2.5vh;
    }
}