@use "colors";

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 90%;
    margin: auto;

    .dep {
        display: flex;

        text-align: left;

        width: 90%;
        height: 50px;

        margin: 5px auto 5px auto;
        padding: 5px;
        
        box-shadow: 0px 0px 1px colors.$dark;
        border-radius: 5px;

        text-decoration: none;
        color: colors.$dark;

        .text {
            margin-top: 9px;
            margin-left: 14px;
            overflow: hidden;
        }

        h1 {
            font-size: 1.1em;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        p {
            font-size: 1.2em;
        }

    }
}

#header {
    text-align: center;

    h1 {
        font-size: 2.4em;
        font-weight: 600;
        margin-bottom: 0.6rem;
    }

    p {
        font-size: 1.3em;
    }

    a {
        display: block;
        width: fit-content;
        margin: auto;
        margin-top: 0.5rem;
        margin-bottom: 0.2rem;
        text-align: center;
        font-size: 1.05em;
        text-decoration: none;
        color: colors.$primary;

        transition-duration: 200ms;

        &:hover {
            transform: scale(1.05);
        }
    }

    margin: 10vh auto 10vh auto;

    @media screen and (min-width: 800px) {
        width: 45%;
    }
}

#main {
    margin: auto;

    #search {
        display: flex;
        justify-content: center;
        align-items: center;

        input[type=text] {
            display: block;
            margin: 24px 0 24px auto;
            padding: 10px 24px;
            width: 310px;
    
            background-color: colors.$mid;
            box-shadow: 0px 0px 1px colors.$dark;
    
            border: none;
            border-radius: 8px 0px 0px 8px;
    
            &:focus {
                outline: none;
            }
        }

        button {
            margin: 0 auto 0 0;

            padding: 6px 24px;
            border-radius: 0px 8px 8px 0px;
            border: none;

            background-color: colors.$mid;
            box-shadow: 0px 0px 1px colors.$dark;
        }
    }

    #filter {
        
        width: fit-content;
        margin: auto;

        margin-bottom: 1.5rem;

        select {
            background-color: colors.$mid;
            border: none;

            box-shadow: 0px 0px 1px colors.$dark;

            &:focus {
                outline: none;
            }
        }
        
        #line {
            display: none;
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
        }

        @media screen and (max-width: 560px) {
            #line {
                display: block;
            }
        }
    }

    table {
        margin: auto;
        overflow-x: auto;
      
        thead {
            th {
                background-color: colors.$lightest;
                padding: 10px;
            }
        }

        th, td {
            text-align: justify;
        }

        td {
            padding: 10px;
        }

        .img_text {
            display: flex;
            align-items: center;

            .img {
                object-fit: cover;
                border-radius: 10px;
            }
        }
    }
}