@use "colors";

#header {
    width: calc(100% - 15px);
    padding: 15px;
    margin-top: 6vh;
    margin-bottom: 6vh;

    text-align: center;

    p {
        color: colors.$gray;
        font-size: 1.4em;
    }

    h1 {
        font-size: 1.8em;
    }

    #img {
        margin: auto;
        margin-bottom: 2rem;
        border-radius: 50%;
        object-fit: cover;
        mix-blend-mode: multiply;
    }

    #details {
        text-align: left;
        margin: auto;
        margin-top: 3.2rem;

        p {
            color: colors.$dark;
        }

        h2 {
            text-align: center;
            margin-bottom: 0.8rem;
        }

        a {
            display: block;
            width: fit-content;
            margin: auto;
            text-align: center;
            font-size: 1.3em;
            text-decoration: none;
            color: colors.$primary;

            transition-duration: 200ms;

            &:hover {
                transform: scale(1.2);
            }
        }

        #bars {
            width: 32%;
            margin: auto;

            div {
                width: 100%;
                height: 1.3rem;
                margin-bottom: 1.2rem;
            }

            p {
                margin-bottom: 4px;
            }

            #bar_total {
                background-color: colors.$primary;
            }

            #bar_yes {
                background-color: colors.$terciary;
            }

            #bar_no {
                background-color: colors.$quaternary;
            }

            @media screen and (max-width: 1100px) {
                width: 52%;
            }

            @media screen and (max-width: 930px) {
                width: 52%;
            }

            @media screen and (max-width: 700px) {
                width: 75%;
            }
        }
    }
}

#main {
    width: 100%;
    min-height: 50vh;
    padding: 15px;

    background-color: colors.$lightest;

    h2 {
        text-align: center;
        margin-bottom: 1.2rem
    }

    nav {
        display: flex;
        width: fit-content;
        margin: auto;
        align-items: center;
        justify-content: center;
        gap: 45px;

        border-bottom: 1px solid colors.$dark;

        button {
            border: none;
            background-color: transparent;

            cursor: pointer;
        }
    }

    .cards {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 12px;

        h1 {
            font-size: 1.1em;
            text-align: left;
        }

        p {
            font-size: 1.1em;
            margin: 10px 0px 10px 0px;
            text-align: left;
        }

        div {
            padding: 35px;
            width: 45%;
            min-height: 13rem;

            box-shadow: 0px 0px 2px colors.$dark;
            border-radius: 8px;

            @media screen and (max-width: 1200px) {
                width: 60%;
            }

            @media screen and (max-width: 800px) {
                width: 80%;
            }

            @media screen and (max-width: 650px) {
                width: 95%;
            }
        }
    }

    #totals_card {
        display: flex;
        justify-content: center;
        align-items: center;
        width: fit-content;

        line-height: 1.8rem;

        text-align: center;

        h1 {
            font-weight: normal;
            font-size: 1.2em;
        }

        #total {
            font-weight: bold;
            font-size: 1.6em;
        }

        #declarados {
            font-size: 1.1em;
        }

        margin: auto;
        margin-top: 1.2rem;
        margin-bottom: 2rem;

        box-shadow: 0px 0px 2px colors.$dark;
        border-radius: 8px;
        padding: 10px 20px;
    }

    #page_selector {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        button {
            display: block;
            
            background-color: colors.$dark;
            color: colors.$light;

            padding: 5px 8px;
            padding-top: 8px;
            border-radius: 8px;

            cursor: pointer;

            border: none;
        }

        margin-bottom: 2.5vh;
    }
}