@use "colors";

#header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    width: fit-content;
    margin: auto;

    margin-bottom: 30vh !important;

    padding: 8px;

    h1 {
        font-size: 3.3em
    }

    p {
        font-size: 1.5em;

        margin: 5px 0px 5px 0px;
    }

    #text {
        width: 40%;

        @media screen and (max-width: 830px) {
            width: 95%;
            margin: auto;
            padding-top: 5rem;
            margin-bottom: -5rem;
        }
    }

    @media screen and (max-width: 830px) {
        flex-direction: column;

        #icon {
            display: none;
        }
    }

    #buttons {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 30px;
    }

    #button {
        display: block;
        
        width: fit-content;
        margin: 24px 0px 0px 0px;

        text-align: center;
        text-decoration: none;
        font-size: 1.3em;
        font-weight: bold;

        cursor: pointer;

        color: colors.$light;
        background-color: colors.$primary;
        box-shadow: 0px 0px 10px colors.$primary;

        border-radius: 5px;
        padding: 12px 24px
    }
}

#main {
    text-align: center;

    h1 {
        font-size: 2.2em
    }

    p {
        font-size: 1.5em;

        margin: 5px 0px 5px 0px;
    }

    a {
        display: block;
        width: fit-content;
        margin: auto;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        text-align: center;
        font-size: 1.2em;
        text-decoration: none;
        color: colors.$primary;

        transition-duration: 200ms;

        &:hover {
            transform: scale(1.2);
        }
    }
}